@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

.contact-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #f0f4f8;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    max-width: 1105px;
    margin: 5% auto;
}

#title {
    font-family: 'Poppins', sans-serif;
    color: #007bff;
    margin-top: 15%;
    text-align: center;
    width: 100%;
    margin-bottom: -2%;
}

.contact-information {
    flex: 1;
    padding: 20px;
    background-color: #007bff;
    color: #fff;
    border-radius: 10px;
    margin-right: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 50%;
    min-width: 300px;
    margin: 10px;
    height: 600px;
    align-items: center;
}

.contact-form {
    flex: 1;
    padding: 20px;
    max-width: 45%;
    min-width: 300px;
    margin: 10px;
}

.contact-form button, .contact-form input, .contact-form textarea {
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.contact-form textarea {
    height: 150px;
}

.contact-form button {
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 10%;
}

.contact-form button:hover {
    background-color: #0056b3;
}

.contact-information p {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #ffffff;
    text-align: center;
    margin-bottom: 10%;
    
    text-align: center;
    
}

.contact-information h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 28px;
    line-height: 42px;
    font-weight: 600;
    color: #ffffff;
    text-align: center;
    
    margin-top: 10%;
    margin-bottom: 10%;
}

.alert {
    position: fixed;
    top: 60px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

@media (max-width: 992px) {
    .contact-container {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

   .contact-form {
        max-width: 100%;
        margin-right: 0;
        margin-left: 0;
        margin-bottom: 20px; 
    }
    .contact-information{
        width: 90%;
    }
}

@media (max-width: 768px) {
    .contact-container {
        width: 100%;
        margin: 5% auto;
    }
    .contact-information{
        width: 90%;
    }

   .contact-form {
        max-width: 100%;
        margin-right: 0;
        margin-left: 0;
        margin-bottom: 20px; }
}

